.headercontact{
    text-align: center;
  color: rgb(24, 24, 207);
    border: 3px rgb(194, 13, 218) solid;
    background-color: rgb(228, 220, 224);
    font-weight: bold;
}
  .footercontact {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: rgb(26, 24, 24);
    font-weight: bold;
    margin-top:10px;
    font-weight: bold;
  }
 
  .picturesimg{
 
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 18rem;
 height: 300px;
  box-shadow: 5px 10px #cca1c1;
  }
  