.headercontact{
    text-align: center;
  color: rgb(24, 24, 207);
    border: 3px rgb(194, 13, 218) solid;
    background-color: rgb(228, 220, 224);
}
.backtohome{
text-align: center;
font-weight: bold;
}
.contact{

  overflow: hidden;
}
.text{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.footercontact{
  display: flex;
  flex-direction: column;
  justify-self: center;
}

  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    font-weight: bold;
    margin-top:10px;
  }
  .pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pictures img{
  
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: auto;
  box-shadow: 5px 10px #cca1c1;
  }