li {
    display: block;
    width: 200px;
  }
  .imagehome{
    display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
  }
.imagehome img {
  border: 2px solid #ddd;
  border-radius: 100%;
  padding: 5px;
  
 }
 .headerhome{
   color: rgb(185, 15, 15);
   font-size: 30px;
   font-weight: bolder;
 }
 .home{
   background-color: rgb(197, 237, 238);
 }
.spancart{
  background-color: red;
    border-radius: 50%;
    width: 1rem;
    padding: 5px;
    height: 1rem;
    color: white;
}