header ul {
    display: flex;
    padding: 1rem;
    margin: unset;
    margin-left: 5rem;
}

header nav {
    margin-right: auto;
    margin-left: 1rem;
}

header nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin-right: 2rem;
    cursor: pointer;
}

header ul li a {
    text-decoration: unset;
    color: initial;
}

.myHeader {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: white;
    border-bottom: 1px solid black;
}

.paperDialog {
    position: absolute !important;
    left: 4rem;
    top: 3.5rem;
    /*padding: 1rem;*/
}

.navbar_image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.paperDialog ul {
    display: flex;
    flex-direction: column;
    margin: unset;
    padding: unset;

}

.paperDialog ul a {
    text-decoration: unset;
    color: initial;
}

.paperDialog ul li {
    padding: 0.2rem 0.5rem;
}

.paperDialog ul li:hover {
    background: #dddddd;
}

.haveSubMenu:hover .submenu {
    display: flex !important;
}

.submenu {
    display: none;
    position: fixed;
    left: 18.5rem;
    background: white;
    top: 5.5rem;


}

.submenu ul li:hover {
    background: #61dafb !important;
}
.spancart{
    background-color: rgb(224, 145, 145);
    border-radius: 50%;
    width: 2rem;
    padding: 7px;
   text-align: center;
    color: white;
    font-weight: bolder;
}
.spanNote{
    background-color: rgb(224, 145, 145);
    border-radius: 50%;
    width: 2rem;
    padding: 7px;
    text-align: center;
    color: white;
    font-weight: bolder; 
}
.nameUser{
    font-weight: bolder;
    position: absolute;
    right: 100px;
   color: rgb(192, 45, 8);
   padding: 10px;
   margin: 5px;

}