.Login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}
.loginform{
    border: 3px blue solid;
  
}
.remember{

  text-align: center;
}

input[type=text], input[type=password] {
   width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    position: relative;
    left: 300px;
    
  }
  .box{
    padding: 14px 10px;
   display: block;
   margin: 5px;
   width: 100px;
   border: 1px rgb(145, 112, 138) solid;
   outline:none;
   position: relative;
   left: 300px;

border-radius: 24px;
transition: 0.25s;
  }
  .box :hover{
    border-color: rgb(29, 223, 4);
  }
  
.btnlogin{
   
  color: rgb(20, 19, 19);
  padding: 10px;
  font-size: larger;
  margin: 8px 0;
  cursor: pointer;
  display: block;
  border-radius: 24px;
transition: 0.25s;
border-color: rgb(29, 223, 4);
position: relative;
  left: 400px;
  width: 15%;
}

  img.avatar {
    width: 20vw;
   
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .signupbtn{
    color: rgb(20, 19, 19);
    padding: 15px 20px;
    font-size: larger;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.25s;
    border-color: rgb(29, 223, 4);
    
  }
  .btngooglelogin{
    color: rgb(20, 19, 19);
    padding: 10px;
    font-size: larger;
    margin: 8px 0;
    cursor: pointer;
    display: block;
    border-radius: 24px;
transition: 0.25s;
border-color: rgb(29, 223, 4);
position: relative;
    left: 400px;
  }
  .btngooglelogin :hover{
    background-color: rgb(23, 145, 182);
  }
 
  .signuptext{
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    font-weight: bold;
  }
  .loginlabel{
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 300px;
  }
  .rememberMe{
    font-weight: bold;
    text-transform: uppercase;
  }