
.headerNote{
    border-bottom: 2px rgb(20, 20, 129) solid;
    background-color: rgb(87, 76, 97);
    text-align: center;
    color:  white;
}

.noteUl{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
