
.headerNote{
    border-bottom: 2px rgb(20, 20, 129) solid;
    background-color: rgb(87, 76, 97);
    text-align: center;
    color:  white;
}

.noteUl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
   
}
.backtohomeNote{
    text-align: center;
    position: relative;
    left: 500px;
  }
  .Note{
     
      background-color: aquamarine;
     
  }
  .noteLi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin:5px;
    border: 2px rgb(103, 103, 112) solid;
    width: 20%;
  
  
  }